:root {
  --hp-percent: 50%;
}
* {
  box-sizing: border-box;
}
.preload {
  display: none;
}
/* CSS ГЛАВНОЕ МЕНЮ */
.menu_bg {
  background-image: url(img/menu_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text_center {
  display: flex;
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text_gameName {
  font-size: 64px;
  font-family: "Peralta";
  color: white;
}

.button_menu {
  width: 340px;
  height: 62px;
  background-color: #56171f;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: #381015;
}

.text_menu_but {
  color: white;
  line-height: 150%;
  font-size: 20px;
  font-family: "Peralta";
}

.menu_continue {
  display: flex;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}

.menu_newGame {
  display: flex;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}

.menu_settings {
  display: flex;
  position: absolute;
  top: 71%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}
/* КОНЕЦ ГЛАВНОГО МЕНЮ */
/* CSS НАСТРОЙКИ */
.settings {
  display: block;
  position: absolute;

  top: 20%;
  left: 40%;
  margin: -125px 0 0 -125px;

  width: 650px;
  height: 820px;

  background: rgb(129, 62, 76, 0.8);

  border-radius: 50px;
}

.text_control {
  font-size: 36px;
  font-family: "Peralta";

  color: white;
  text-align: center;
  vertical-align: middle;
}

.text_keybind {
  font-size: 36px;
  font-family: "Peralta";
  color: white;
  float: right;
  margin-top: 4%;
  margin-right: 35%;
}

.skills {
  margin-left: 23%;
}

.skill_img {
  width: 105px;
  height: 105px;
  border-radius: 10%;
  border-color: #381015;
  border-style: solid;
  border-width: 1%;
}

.skill_img:hover {
  border-color: aqua;
}

.text_binding {
  font-size: 36px;
  font-family: "Peralta";
  color: white;
  margin-left: 10%;
}

.text_bin_key {
  font-size: 16px;
  font-family: "Peralta";
  color: white;
}

.text_reset {
  position: relative;
  top: -5px;
  font-size: 16px;
  font-family: "Peralta";
  padding: 3%;
  color: white;
}

.keybinds_reset {
  width: 150px;
  height: 45px;
  margin-left: 5%;
  padding: 3%;
  border: none;
  border-radius: 10px;
  background-color: #56171f;
}

.keybind {
  width: 100px;
  height: 45px;
  margin-left: 7%;
  border: none;
  border-radius: 10px;
  background-color: #56171f;
}

.text_back {
  position: relative;
  top: 10px;
  margin-left: 1%;
  font-size: 32px;
  font-family: "Peralta";
  text-decoration: none;
  color: white;
}
/* КОНЕЦ НАСТРОЕК */
/* ВЫБОР УРОВНЕЙ "ПРОДОЛЖИТЬ" */
.stage {
  /* кнопки */
  display: inline-block;
  width: 200px;
  height: 150px;
  background-color: #56171f;
  border-color: #56171f;
  border-width: 5px;
  border-radius: 20px;
}

.stages {
  text-align: center;
  margin-top: 10%;
}

.stages_group {
  text-align: center;
  margin-top: 2%;
}

.stage_margin {
  margin-right: 100px;
}

.text_stage {
  font-family: "Peralta";
  font-size: 32px;
  color: white;
}
/* КОНЕЦ ВЫБОРА УРОВНЕЙ */
/* НАЧАЛО БОЯ */

.figth_stage_bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cont {
  width: 1400px;
  height: 900px;
  position: absolute;
  left: 14%;
  top: 3%;

  border-radius: 30px;
  background-color: rgb(58, 61, 108, 0.8);
}

.interaction {
  width: 96%;
  height: 12%;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 64vh;
  left: 2vw;
}

.fight_skills {
  display: flex;
  margin-left: 2%;
  width: 60vw;
  height: 12vh;
}

.skill_position {
  width: 100px;
  height: 100px;
  margin-right: 5%;
}

.fight_skills_text {
  color: white;
  line-height: 150%;
  font-size: 150%;
  font-family: "Peralta";
  text-align: center;
}
.arrows {
  width: 20vw;
  height: 12vh;
  display: flex;
  margin-right: 10%;
}

.arrow_left {
  width: 100px;
  height: 100px;
  float: right;
  transform: rotate(180deg);
  margin-right: 5%;
}

.arrow_top {
  width: 100px;
  height: 100px;
  float: right;
  transform: rotate(180deg);
  margin-right: 1%;
}

.arrow_bottom {
  width: 100px;
  height: 100px;
  float: right;
  margin-right: 1%;
}

.arrow_right {
  width: 100px;
  height: 100px;
  float: right;
  margin-right: 1%;
}

.hp {
  display: inline-block;
  min-height: 5vh;
  min-width: 400px;
  border: 1px solid black;
}

.enemy-hp {
  margin-top: 3%;
  margin-left: 5%;
  background: linear-gradient(
    110deg,
    green var(--hp-percent),
    gray calc(var(--hp-percent) + 2%)
  );
}

.enemy-hp2 {
  transform: rotate(180deg);
  align-items: right;
  margin-top: 3%;
  margin-left: 32%;
  background: linear-gradient(
    110deg,
    red var(--hp-percent),
    gray calc(var(--hp-percent) + 2%)
  );
}

/* КОНЕЦ БОЯ */


/* ФИГУРКИ ГЕРОЕВ */

.gg {
  width: 300px;
  height: 400px;

  margin-top: 150px;
  margin-left: 100px;
}

.golem {
  width: 400px;
  height: 500px;

  margin-left: 500px;
}

.hero {
  display: inline-block;
}

.enemy {
  display: inline-block;
}

/* КОНЕЦ */


