/* CSS ГЛАВНОЕ МЕНЮ */
.menu_bg {
  /* меню */
  background-image: url(img/menu_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text_center {
  /* текст по центру в главном меню */
  display: flex;
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text_gameName {
  /* настройки для текста с названием игры в главно меню */
  font-size: 64px;
  font-family: "Peralta";
  color: white;
}

.button_menu {
  /* кнопки в главном меню */
  width: 340px;
  height: 62px;

  background-color: #56171f;

  border: none;
  border-radius: 10px;
}

button:hover {
  /* изменение цвета кнопок при наведении */
  background-color: #381015;
}

.text_menu_but {
  /* текст на кнопках в главном меню */
  color: white;
  line-height: 150%;
  font-size: 20px;
  font-family: "Peralta";
}

.menu_continue {
  /* кнопка 1 в главном меню */
  display: flex;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);

  align-items: center;
  justify-content: center;
}

.menu_newGame {
  /* кнопка 2 в главном меню */
  display: flex;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);

  align-items: center;
  justify-content: center;
}

.menu_settings {
  /* кнопка 3 в главном меню */
  display: flex;
  position: absolute;
  top: 71%;
  left: 50%;
  transform: translate(-50%, -50%);

  align-items: center;
  justify-content: center;
}

/* КОНЕЦ ГЛАВНОГО МЕНЮ */

/* CSS НАСТРОЙКИ */

.settings {
  /* прозрачный блок настроек */
  display: block;
  position: absolute;

  top: 20%;
  left: 40%;
  margin: -125px 0 0 -125px;

  width: 650px;
  height: 820px;

  background: rgb(129, 62, 76, 0.8);

  border-radius: 50px;
}

.text_control {
  /* текст управления */
  font-size: 36px;
  font-family: "Peralta";

  color: white;
  text-align: center;
  vertical-align: middle;
}

.text_keybind {
  /* текст для q */
  font-size: 36px;
  font-family: "Peralta";

  color: white;
  float: right;
  margin-top: 4%;
  margin-right: 35%;
}

.skills {
  margin-left: 23%;
}

.skill_img {
  width: 105px;
  height: 103.33px;
}

.text_binding {
  font-size: 36px;
  font-family: "Peralta";

  color: white;
  margin-left: 10%;
}

.text_bin_key {
  font-size: 16px;
  font-family: "Peralta";

  color: white;
}

.text_reset {
  position: relative;
  top: -5px;
  font-size: 16px;
  font-family: "Peralta";

  padding: 3%;

  color: white;
}

.keybinds_reset {
  width: 150px;
  height: 45px;

  margin-left: 5%;
  padding: 3%;

  border: none;
  border-radius: 10px;

  background-color: #56171f;
}

.keybind {
  width: 100px;
  height: 45px;

  margin-left: 7%;

  border: none;
  border-radius: 10px;

  background-color: #56171f;
}

.text_back {
  position: relative;
  top: 10px;

  margin-left: 1%;

  font-size: 32px;
  font-family: "Peralta";

  text-decoration: none;

  color: white;
}

/* КОНЕЦ НАСТРОЕК */

/* ВЫБОР УРОВНЕЙ "ПРОДОЛЖИТЬ" */

.stage {
  /* кнопки */
  display: inline-block;

  width: 200px;
  height: 150px;

  background-color: #56171f;

  border-color: #56171f;
  border-width: 5px;
  border-radius: 20px;
}

.stages {
  /* расположение первого блока */
  text-align: center;
  margin-top: 10%;
}

.stages_group {
  /* расположение второго блока */
  text-align: center;
  margin-top: 2%;
}

.stage_margin {
  /* пробел справа для кнопок */
  margin-right: 100px;
}

.text_stage {
  /* css для текста на кнопках */
  font-family: "Peralta";
  font-size: 32px;
  color: white;
}

/* КОНЕЦ ВЫБОРА УРОВНЕЙ */

/* НАЧАЛО БОЯ */

:root {
  --hp-percent: 50%;
}

* {
  box-sizing: border-box;
}

.stageone {
  background-image: url(img/beach_level.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cont {
  width: 1400px;
  height: 900px;

  position: absolute;
  left: 14%;
  top: 3%;

  border-radius: 30px;
  background-color: rgb(58, 61, 108, 0.8);
}
/* Позиция элементов */
.water_position {
  width: 100px;
  height: 100px;

  margin-top: 45%;
  margin-left: 5%;
}

.fire_position {
  width: 100px;
  height: 100px;

  margin-left: 1%;
}
.earth_position {
  width: 100px;
  height: 100px;

  margin-left: 1%;
}

.air_position {
  width: 100px;
  height: 100px;

  margin-left: 1%;
}
/* Конец позиций */

/* Стрелки */

.arrow_1 {
  width: 100px;
  height: 100px;

  float: right;

  margin-top: 45%;
  margin-right: 5%;
}

.arrow_2 {
  width: 100px;
  height: 100px;

  float: right;

  margin-top: 45%;
  margin-right: 1%;
}

.arrow_3 {
  width: 100px;
  height: 100px;

  transform: rotate(180deg);

  float: right;

  margin-top: 45%;
  margin-right: 1%;
}

.arrow_4 {
  width: 100px;
  height: 100px;

  transform: rotate(180deg);

  float: right;

  margin-top: 45%;
  margin-right: 1%;
}

/* Конец стрелок */

.hp {
  display: inline-block;
  min-height: 5vh;
  min-width: 400px;
  border: 1px solid black;
}

.enemy-hp {
  margin-top: 3%;
  margin-left: 5%;
  background: linear-gradient(
    110deg,
    green var(--hp-percent),
    gray calc(var(--hp-percent) + 2%)
  );
}

.enemy-hp2 {
  transform: rotate(180deg);
  align-items: right;
  margin-top: 3%;
  margin-left: 32%;
  background: linear-gradient(
    110deg,
    red var(--hp-percent),
    gray calc(var(--hp-percent) + 2%)
  );
}

/* КОНЕЦ БОЯ */
